<h4>Data from our latest report: <%= link_to @latest_report.title, report_path(@latest_report.id) %></h4>
<ul class="small-block-grid-3">

	<%@latest_report.questions.each do |question| %>
		<li class="card">
			<span><p><%= question.title %></p></span>
			<span><%= question.tag %></span>
			<% question.responses.each do |response| %>
			<span><%= question.responses.where(country: "total").count  %></span>
			<%end%>
		</li>
	<%end%>

</ul>