<h4>Data from our latest report: <%= link_to @latest_report.title, report_path(@latest_report.id) %></h4>
<ul class="small-block-grid-3">
  <li><!-- Your content goes here --></li>
  <li><!-- Your content goes here --></li>
  <li><!-- Your content goes here --></li>
</ul>